torch
torchvision
torchaudio
llama-cpp-python[server]
click
transformers>=4.35.0
accelerate>=0.25.0
sentence-transformers
langchain
faiss-cpu
optimum
gradio>=4.0
duckduckgo-search
fake-useragent
openai>=1.0.0
tiktoken
protobuf
beautifulsoup4